@import "./partials/reset";
@import "./partials/variables";
@import "./partials/buttons";

@function em($pixels) {
  @return calc($pixels/16px) * 1em;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
}

@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
  nav {
    background-color: $blizzard-blue;
    @include d-flex;
    border-bottom: $border $true-blue;
    select {
      padding: em(8px);
      background-color: $middle-blue-green;
      border: $border $true-blue;
      @media screen and (min-width: 480px) {
        display: none;
      }
    }
    ul {
      list-style-type: none;
      @include d-flex;
      @media screen and (max-width: 480px) {
        display: none;
      }
      li {
        a {
          text-decoration: none;
          color: black;
        }
        @media screen and (min-width: 480px) {
          @include d-flex;
          padding: em(8px) em(16px);
          border-right: $border $true-blue;
        }
      }
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
main {
  margin-top: em(32px);
  padding: em(32px);
  article {
    background-color: $blizzard-blue;
    padding: em(32px);
    border-bottom: $border $true-blue;
    @media screen and (min-width: 768px) {
      font-size: em(20px);
      width: 70%;
      margin: auto;
    }
    h1 {
      font-size: em(32px);
    }
  }
}

main {
  section {
    .card {
      box-shadow: 6px 7px 24px 3px $true-blue;
      &:hover {
        cursor: pointer;
        transform: scale(1.04);
        box-shadow: none;
      }
      @media screen and (min-width: 768px) {
        margin: em(32px);
      }
      margin-top: em(16px);
      border: $border $true-blue;
      img {
        width: 100%;
        @media screen and (min-width: 768px) {
          width: 50%;
        }
      }
      @media screen and (min-width: 768px) {
        @include d-flex;
      }
      div {
        padding: em(32px);
      }
    }
  }
}

footer {
  text-align: center;
  padding: em(16px);
  font-size: em(20px);
  background-color: $blizzard-blue;
  border-top: $border $true-blue;
  img {
    width: 30px;
    padding-left: em(16px);
    padding-right: em(16px);
  }
  @media screen and (min-width: 768px) {
    @include d-flex;
  }
}
