@import "./partials/reset";
@import "./partials/colors";
@import "./partials/buttons";

@function em($pixels) {
  @return calc($pixels/16px) * 1em;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
}

@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  background-color: $blizzard-blue;
  @include d-flex;
  position: sticky;
  top: 0;
  border-bottom: $border $true-blue;
  select {
    padding: em(8px);
    background-color: $middle-blue-green;
    border: $border $true-blue;
    @media screen and (min-width: 480px) {
      display: none;
    }
  }
  ul {
    list-style-type: none;
    @include d-flex;
    @media screen and (max-width: 480px) {
      display: none;
    }
    li {
      a {
        text-decoration: none;
        color: black;
      }
      @media screen and (min-width: 480px) {
        @include d-flex;
        padding: em(8px) em(16px);
        border-right: $border $true-blue;
      }
    }
  }
  img {
    width: 100px;
    height: 100px;
  }
}

main {
  background-color: $blizzard-blue;
  article {
    padding: em(32px);
    @media screen and (min-width: 768px) {
      padding: em(58px);
      font-size: em(20px);
      width: 70%;
      margin: auto;
    }
  }
}
